<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card shadow-lg border-0 rounded-3">
        <div class="card-body p-4">
          <h3 class="text-center mb-4">Register</h3>

          <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="mb-3">
              <label for="firstName" class="form-label">First Name</label>
              <input type="text" class="form-control" formControlName="firstName" id="firstName"
                placeholder="Enter your first name" required>
            </div>
            @if(registerForm.get('firstName')?.invalid && registerForm.get('firstName')?.touched){
            <div class="text-danger mt-1">
              First Name is required
            </div>
            }

            <div class="mb-3">
              <label for="lastName" class="form-label">Last Name</label>
              <input type="text" class="form-control" formControlName="lastName" id="lastName"
                placeholder="Enter your last name" required>
            </div>
            @if(registerForm.get('lastName')?.invalid && registerForm.get('lastName')?.touched){
            <div class="text-danger mt-1">
              Last Name is required
            </div>
            }

            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input type="email" class="form-control" formControlName="email" id="email" placeholder="Enter your email"
                required>
            </div>
            @if(registerForm.get('email')?.invalid && registerForm.get('email')?.touched){
            <div class="text-danger mt-1">
              Email is required
            </div>
            }

            <div class="mb-3">
              <label for="mobile" class="form-label">Mobile</label>
              <input type="text" class="form-control" formControlName="mobile" id="mobile" placeholder="Enter your mobile number"
                required>
            </div>
            @if(registerForm.get('mobile')?.invalid && registerForm.get('mobile')?.touched){
            <div class="text-danger mt-1">
              Mobile number is required
            </div>
            }


            <div class="mb-3 position-relative">
              <label class="form-label">Password</label>
              <input [type]="showPassword ? 'text' : 'password'" class="form-control" formControlName="password"
                placeholder="Enter password">
              <i class="bi" [ngClass]="showPassword ? 'bi-eye' : 'bi-eye-slash'"
                (click)="togglePasswordVisibility('password')">
              </i>
            </div>
            @if(registerForm.get('password')?.invalid && registerForm.get('password')?.touched){
            <div class="text-danger mt-1">
              Password is required
            </div>
            }

            <div class="mb-3 position-relative">
              <label class="form-label">Confirm Password</label>
              <input [type]="showConfirmPassword ? 'text' : 'password'" class="form-control"
                formControlName="confirmPassword" placeholder="Confirm password">
              <i class="bi" [ngClass]="showConfirmPassword ? 'bi-eye' : 'bi-eye-slash'"
                (click)="togglePasswordVisibility('confirm')">
              </i>
            </div>
            @if(registerForm.get('confirmPassword')?.invalid && registerForm.get('confirmPassword')?.touched){
            <div class="text-danger mt-1">
              Confirm password is required
            </div>
            }
            <!-- Checking if password matches -->
            @if(registerForm.hasError('passwordMismatch')){
              <div class="text-danger mt-1">
              Password does not match
            </div>
            }

            <div class="text-danger mt-1">
              {{errorMessage}}
              <a href="">{{forgotPassword}}</a>
            </div>

            <button type="submit" class="btn btn-primary w-100" [disabled]="registerForm.invalid">Register</button>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
